:root {
  --primary: #5756A6;     /* fiolet */
  --primary-light: #7a79d9;
  --dark: #2A2A2A;
  --light: #F3F2FA;
  --white: #ffffff;
  --text: #2A2A2A;
  --focus: #6FCF97;
}

/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
  scroll-behavior: smooth;
}

/* BODY */
body {
	font-family: system-ui, -apple-system, sans-serif;
	color: var(--text);
	line-height: 1.6;
	background: var(--white);
}

/* TYPOGRAPHY */
h1, h2, h3 {
	line-height: 1.2;
	margin-bottom: 15px;
	font-weight: 600;
}

h1 {
	font-size: 2.6rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.2rem;
}

p {
	margin-bottom: 15px;
	color: #444;
}

/* LINKS */
a {
	color: var(--primary);
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.8;
}

/* WCAG Focus */
:focus {
	outline: 3px solid var(--focus);
	outline-offset: 2px;
}

/* SKIP LINK */
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	background: var(--primary);
	color: #fff;
	padding: 10px;
	z-index: 999;
}

.skip-link:focus {
	top: 0;
}
