.hero {
	position: relative;
	padding: 120px 0;
	text-align: center;
	background:
		linear-gradient(rgba(0, 74, 153, 0.7), rgba(0, 74, 153, 0.7)),
		url('../img/logopeda.jpg') center/cover no-repeat;
	color: white;
}

.hero h1 {
	font-size: 2.8rem;
}

.hero p {
	font-size: 1.1rem;
	opacity: 0.9;
}

.placeholder-img {
	background: #ccc;
	height: 300px;
	border-radius: 8px;
}

/* =========================
   FAQ SECTION
========================= */

#faq {
	max-width: 800px;
	margin: 0 auto;
}

#faq-title {
	text-align: center;
	margin-bottom: 40px;
}

/* item */
#faq details {
	background: var(--white);
	border-radius: 14px;
	margin-bottom: 16px;
	padding: 20px;
	border: 1px solid #eaeaea;
	transition: 0.3s ease;
}

/* hover */
#faq details:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* open */
#faq details[open] {
	border-color: var(--primary);
	box-shadow: 0 12px 30px rgba(0, 74, 153, 0.08);
}

/* summary */
#faq summary {
	font-weight: 600;
	cursor: pointer;
	list-style: none;
	position: relative;
	padding-right: 30px;
}

/* remove arrow */
#faq summary::-webkit-details-marker {
	display: none;
}

/* custom icon */
#faq summary::after {
	content: '+';
	position: absolute;
	right: 0;
	font-size: 1.3rem;
	color: var(--primary);
	transition: 0.3s;
}

/* open icon */
#faq details[open] summary::after {
	content: '−';
}

/* text */
#faq p {
	margin-top: 12px;
	line-height: 1.6;
	color: var(--text);
}

/* =========================
   FOOTER
========================= */

.main-footer {
	background: var(--dark);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	color: var(--light);
	padding: 40px 20px;
	margin-top: 60px;
}

/* container */
.footer-container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* text */
.footer-info p {
	margin: 0;
	font-size: 0.9rem;
	opacity: 0.8;
    color:var(--light)
}

/* nav */
.footer-nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}

/* links */
.footer-nav a {
	color: var(--light);
	text-decoration: none;
	font-size: 0.9rem;
	position: relative;
	transition: 0.3s;
}

/* underline animation */
.footer-nav a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0%;
	height: 2px;
	background: var(--primary);
	transition: width 0.3s ease;
}

.footer-nav a:hover::after {
	width: 100%;
}

/* hover color */
.footer-nav a:hover {
	color: var(--primary);
}
